* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* background-color: rgb(3,37,65); */
  background-color: #000;
}
.titlebar {
  /* background-color: rgb(3,37,65); */
  background-color: #000;
  padding-left: 14px;
  color: #fff;
  display: block;
  border-bottom: 1px solid grey;
}

.search-bar{
  font-size: 17px;
  border-radius: 10px;
}